{
  "env": {
    "node": true,
    "es6": true
  },
  "parser" : "@typescript-eslint/parser",
  "parserOptions": {
    "ecmaVersion": 2018,
    "sourceType": "module"
  },
  "extends": [
    "plugin:@typescript-eslint/recommended",
    "airbnb-typescript/base"
  ],
  "globals": {
    "Atomics": "readonly",
    "SharedArrayBuffer": "readonly"
  },
  "rules": {
    "@typescript-eslint/explicit-member-accessibility": true,
    "no-alert": "error",
    "eol-last": "error",
    "semi": "error",
    "no-console": "error",
    "prefer-object-spread": "error",
    "no-await-in-loop": "off",
    "no-plusplus": "off",
    "import/no-cycle": "off"
  },
  "plugins": [
    "import"
  ]
}
